body {
    background-size:cover;
    background-position:cover;
    background-repeat:no-repeat;
    font-family: Times new roman;
}
.navbar {
    background-color:maroon;
}
p {
    font-size:18px;
}
.sides {
    justify-content:center;
    align-items:center;
    text-align:center;
}
.nav-link {
    border-radius: 6px;
}
.activated {
    background-color:maroon;
}
table {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow:hidden;
}
