/* .centering-h {
    background-color:white;
    border:2px solid gray;
    border-radius:6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centering-body {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
} */